{{ define "title" }}{{.Tree.Value.Title}}{{ end }}

{{ define "scripts" }}
<script src="/static/js/template.js"></script>
<script>
$(document).ready(function(){
	var getParentId = function(item){
		return ($(item).closest("div.entry")[0].id).split(/_/)[1]
	};
	
	$(".new_thread").on("click", function(event){
		app.replaceTemplate("NewThreadTemplate", {parent_id: getParentId(this)}, "active_"+getParentId(this));
	});
	
	$(document).on("click", ".clear_active_controls", {}, function(event){
		event.preventDefault();
		
		app.replaceTemplate("BlankTemplate", {}, "active_" + getParentId(this));
	});
	
	$(document).on("submit", "form.new_thread", {}, function(event){
		event.preventDefault();
		
		var parentId = getParentId(this);
		var submission = $(this).serializeArray();
		
		console.log("Parent id is: "+parentId)
		
		$.ajax({
			url: "{{ reverse "postThread" }}", 
			type: "POST",
			data: submission,
		}).done(function(msg) {
			
			$("#message_"+parentId).append("<p class=\"text-info\">Your new post was created successfully. \
					You will be redirected shortly. "+msg.Title+" "+msg.Body+"</p>")
	    	console.log(msg);
			
			{{/*TODO(james) ignore the response and let websockets kick the message back*/}}
	    	$("#children_"+parentId).append(msg)
	    	app.replaceTemplate("BlankTemplate", {}, "active_" + parentId);
	    	
	    	newUrl = {{ reverse "thread" "id" 0 }}
	    	newUrl = newUrl.replace("/0", "/"+msg.Id)
	    	console.log(newUrl)
	    	
	    	window.location.href = newUrl
    	})
	    .fail(function(msg){ console.log(msg.status + ": " + msg.responseText); });
	    //.always(function(msg) { console.log(msg); });
	});
	
	$(".appender").on("click", function(event){
		parentId = $(this).closest("div.entry")[0].id
		
		app.appendTemplate("ItemTemplate", {id: "id", title: "name"}, parentId)
	});
});
</script>
{{ end }}

{{ define "tree" }}
{{if .Tree}}
	<div>
		▲ <a href="{{reverse "thread" "id" .Tree.Value.Id}}" class="lead">{{.Tree.Value.Title}}</a> ▼<br />
			<ul class="inline">
				<li>By {{.Tree.Value.AuthorHandle}}</li>
				<li>{{.Tree.Value.Points}} {{if eq .Tree.Value.Points 1}}Point{{else}}Points{{end}}</li>
				{{if eq .Tree.Value.AuthorId .User.Id}}
				<li><a href="#">Edit</a></li>
				{{end}}
			</ul>
        {{template "tree" mapfn "User" .User "Tree" .Tree.Left}}
	</div>
        {{template "tree" mapfn "User" .User "Tree" .Tree.Right}}
{{end}}
{{end}}

{{ define "content" }}
{{if .Tree}}
    <div class="entry" id="forum_{{.Tree.Value.Id}}">
		{{with .Tree.Value}}
			<h1>Forum {{.Title}}</h1>
			<p class="lead">{{.Body}}</p>
			<div class="active_messages" id="message_{{.Id}}"></div>
			<button class="btn btn-primary new_thread">Submit a new story</button>
			<div class="active_controls" id="active_{{.Id}}"></div>
			<br />
		{{end}}
		<div class="children" id="children_{{.Tree.Value.Id}}">
			{{template "tree" mapfn "User" .User "Tree" .Tree.Left}}
		</div>
    </div>
    {{template "_jsTemplates" .}}
{{else}}
	<p class="text-error">The requested forum is unavailable.</p>
{{end}}
{{ end }}