{{ define "title" }}Forum.git{{ end }}

{{ define "content" }}
    <h1>Forum.git</h1>

    <p>Hello, and welcome to my forum, because it's 2013.</p>

    <ul class="guests">
        {{ range .entries }}
        <li>
            <blockquote>{{ .Message }}</blockquote>
            <p>- <cite>{{ .Name }}</cite>, <time>{{ .Timestamp }}</time></p>
        </li>
        {{ end }}
    </ul>

    <hr>
    {{ if .ctx.User }}
    <form action="{{ reverse "sign" }}" method="POST">
        <p>Name: {{ .ctx.User.Username }} (<a href="{{ reverse "logout" }}">Logout</a>)</p>
        <p>Message: <textarea name="message" rows="10" cols="40"></textarea></p>
        <p><button>Sign</button></p>
    </form>
    {{ else }}
        <h1>Please
            <a href="{{ reverse "login" }}">login</a> or
            <a href="{{ reverse "register" }}">register</a>
        to sign.</h1>
    {{ end }}
{{ end }}