{{ define "header" }}
	<link href="/static/css/login.css" rel="stylesheet" media="screen">
{{ end }}

{{ define "title" }}Register{{ end }}

{{ define "content" }}
    <div class="container">

      <form class="form-signin" method="post" action="{{reverse "postRegister"}}">
        <h2 class="form-signin-heading">Register</h2>
        {{ range .Messages }}
			<p class="text-error">{{.}}</p><br />
		{{end}}
        <input type="text" class="input-block-level" placeholder="Username" name="Handle" value="{{.User.Handle}}" required>
        <input type="email" class="input-block-level" placeholder="Email address" name="Email" value="{{.User.Email}}" required>
        <input type="password" class="input-block-level" placeholder="Password" name="PlaintextPassword" required>
        <input type="password" class="input-block-level" placeholder="Password (Again)" name="PlaintextPassword2" required>
        
        <button class="btn btn-large btn-primary" type="submit">Register</button>
        
        <br /><br />
        <p class="text-info">All fields are required. Passwords are protected with bcrypt.</p>
      </form>

    </div>
{{ end }}