{{ define "title" }}
	{{ with .Tree }}
		{{with .Value}}
			{{.Title}}
		{{end}}
	{{end}}
{{ end }}

{{ define "tree" }}
{{if .}}
	<div class="nested">
	{{with .Value}}
		<i class="icon-arrow-up"></i><i class="icon-arrow-down"></i>{{.Id}}<br />
		{{.Title}}<br />
		{{.Body}}<br />
		<ul class="inline">
			<li><a href="#">Reply</a></li>
			<li><a href="/thread/{{.Id}}">Permalink</a></li>
			<li><a href="#">Edit</a></li>
			<li>&nbsp;</li>
			<li><a href="#">Delete</a></li>
		</ul>
	{{end}}
	{{with .Left}}
	        {{template "tree" .}}
	{{end}}
	</div>
	{{with .Right}}
	        {{template "tree" .}}
	{{end}}
{{end}}
{{ end }}

{{ define "content" }}
{{if .Tree}}
{{with .Tree}}
    <div>
	{{with .Value}}
		<h1>{{.Id}} {{.Title}}</h1>
		<p class="lead">{{.Body}}</p>
		<br />
		<ul class="inline">
			<li><a href="#">Reply</a></li>
			<li><a href="#">Edit</a></li>
			<li>&nbsp;</li>
			<li><a href="#">Delete</a></li>
		</ul>
	{{end}}
	{{template "tree" .Left}}
    </div>
{{ else }}
	<p class="text-error">The requested post is unavailable.</p>
{{ end }}
{{ end }}
{{ end }}